serverless.yml
org: jch254
app: discogs-market-monitor
service: discogs-market-monitor

frameworkVersion: "4"

plugins:
  - serverless-step-functions

package:
  individually: true

custom:
  # Deployment-level cadence for the scheduled dispatcher. This is the floor for
  # how often any monitor can run; each monitor's per-user frequencyHours is
  # honoured on top of this against its lastDispatchedAt. Override per deploy,
  # e.g. `--param="dispatchScheduleRate=rate(6 hours)"`.
  dispatchScheduleRate: ${param:dispatchScheduleRate, 'rate(12 hours)'}

provider:
  name: aws
  runtime: nodejs22.x
  stage: prod
  region: ap-southeast-2
  environment:
    # Single physical DynamoDB table (created in infrastructure/ via the shared
    # dynamodb-single-table module). Holds ReleaseCheckState rows now and other
    # entities later under distinct key prefixes.
    DYNAMODB_TABLE: ${self:service}-entities
    DISCOGS_USER_TOKEN: ${ssm:/discogs-market-monitor/discogs_user_token, env:DISCOGS_USER_TOKEN, ''}
    # App-level Discogs OAuth 1.0a credentials. Required for the self-service
    # OAuth flow (src/oauthFlow.ts) and to sign API calls for users who
    # authorised via OAuth.
    DISCOGS_CONSUMER_KEY: ${ssm:/discogs-market-monitor/discogs_consumer_key, env:DISCOGS_CONSUMER_KEY, ''}
    DISCOGS_CONSUMER_SECRET: ${ssm:/discogs-market-monitor/discogs_consumer_secret, env:DISCOGS_CONSUMER_SECRET, ''}
    RESEND_API_KEY: ${ssm:/discogs-market-monitor/resend_api_key, env:RESEND_API_KEY, ''}
    SENDER_EMAIL: ${ssm:/discogs-market-monitor/sender_email, env:SENDER_EMAIL, ''}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:Query
          Resource:
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:service}-entities
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:service}-entities/index/*
        # The scheduled dispatcher fans out one execution per registered monitor.
        - Effect: Allow
          Action:
            - states:StartExecution
          Resource:
            - arn:aws:states:${aws:region}:${aws:accountId}:stateMachine:${self:service}-market-monitor

functions:
  # Self-service signup API: register/update or remove a monitor.
  registerMonitor:
    handler: src/registerMonitor.handler
    memorySize: 256
    timeout: 30
    events:
      - httpApi:
          path: /monitors
          method: post
      - httpApi:
          path: /monitors/{username}
          method: delete

  # Self-service Discogs OAuth 1.0a flow. /oauth/start redirects the user to
  # Discogs to authorise; /oauth/callback exchanges the request token for a
  # long-lived access token and registers the monitor.
  oauthFlow:
    handler: src/oauthFlow.handler
    memorySize: 256
    timeout: 30
    events:
      - httpApi:
          path: /oauth/start
          method: get
      - httpApi:
          path: /oauth/callback
          method: get

  # Scheduled fan-out: lists registered monitors and starts one workflow
  # execution per user (replaces the old single-user schedule).
  dispatchMonitors:
    handler: src/dispatchMonitors.handler
    memorySize: 256
    timeout: 60
    environment:
      STATE_MACHINE_ARN: arn:aws:states:${aws:region}:${aws:accountId}:stateMachine:${self:service}-market-monitor
    events:
      - schedule:
          rate:
            - ${self:custom.dispatchScheduleRate}
          enabled: true

  # Step Functions workflow Lambdas.
  getWantlist:
    handler: src/getWantlist.handler
    memorySize: 256
    timeout: 300

  checkReleaseMarketplace:
    handler: src/checkReleaseMarketplace.handler
    memorySize: 256
    # Single-release unit of work; targets < 2s but allows headroom for 429 backoff.
    timeout: 60

  sendDigest:
    handler: src/sendDigest.handler
    memorySize: 256
    timeout: 60

stepFunctions:
  stateMachines:
    marketMonitor:
      name: ${self:service}-market-monitor
      role:
        Fn::GetAtt: [MarketMonitorStateMachineRole, Arn]
      # Started per-registered-user by the scheduled dispatchMonitors Lambda.
      # Each execution input is { username, shipsFrom, destinationEmail,
      # discogsToken? } for one monitor.
      definition:
        Comment: Incremental, rate-limit-safe Discogs wantlist marketplace monitor.
        StartAt: GetWantlist
        States:
          GetWantlist:
            Type: Task
            Resource:
              Fn::GetAtt: [GetWantlistLambdaFunction, Arn]
            ResultPath: $
            Next: ProcessReleases
          ProcessReleases:
            Type: Map
            ItemsPath: $.items
            # Unit of work is one (userId, releaseId). Low concurrency keeps the
            # shared Discogs IP rate-limit-safe; per-release 429 retry absorbs bursts.
            MaxConcurrency: 2
            ItemProcessor:
              ProcessorConfig:
                Mode: DISTRIBUTED
                ExecutionType: STANDARD
              StartAt: CheckRelease
              States:
                CheckRelease:
                  Type: Task
                  Resource:
                    Fn::GetAtt: [CheckReleaseMarketplaceLambdaFunction, Arn]
                  Retry:
                    # Isolated per-release backoff so a 429 never cascades.
                    - ErrorEquals: [States.ALL]
                      IntervalSeconds: 5
                      MaxAttempts: 5
                      BackoffRate: 2
                  End: true
            ResultPath: $.results
            Next: SendDigest
          SendDigest:
            Type: Task
            Resource:
              Fn::GetAtt: [SendDigestLambdaFunction, Arn]
            End: true

resources:
  Resources:
    # Custom execution role for the state machine. A Distributed Map runs child
    # executions, so it needs states:StartExecution on itself plus Describe/Stop
    # on its executions, and the EventBridge managed-rule permissions.
    MarketMonitorStateMachineRole:
      Type: AWS::IAM::Role
      Properties:
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service: states.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: ${self:service}-market-monitor-sfn
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action: lambda:InvokeFunction
                  Resource:
                    - Fn::GetAtt: [GetWantlistLambdaFunction, Arn]
                    - Fn::GetAtt: [CheckReleaseMarketplaceLambdaFunction, Arn]
                    - Fn::GetAtt: [SendDigestLambdaFunction, Arn]
                - Effect: Allow
                  Action: states:StartExecution
                  Resource:
                    - arn:aws:states:${aws:region}:${aws:accountId}:stateMachine:${self:service}-market-monitor
                - Effect: Allow
                  Action:
                    - states:DescribeExecution
                    - states:StopExecution
                  Resource:
                    - arn:aws:states:${aws:region}:${aws:accountId}:execution:${self:service}-market-monitor/*
                - Effect: Allow
                  Action:
                    - events:PutTargets
                    - events:PutRule
                    - events:DescribeRule
                  Resource:
                    - arn:aws:events:${aws:region}:${aws:accountId}:rule/StepFunctionsGetEventsForMapStateRule
