serverless.yml
service: discogs-market-monitor

frameworkVersion: "4"

plugins:
  - serverless-step-functions

package:
  individually: true

# node-tls-client impersonates a browser TLS handshake to read Discogs sell
# pages (see src/marketplaceRss.ts). It loads a native helper via koffi, which
# esbuild cannot bundle, so keep both external; Serverless ships them as real
# node_modules in the deployment package instead.
build:
  esbuild:
    external:
      - koffi
      - node-tls-client

provider:
  name: aws
  runtime: nodejs22.x
  stage: prod
  region: ap-southeast-2
  # Browser signup form (discogs.603.nz) is cross-origin to the API, so enable
  # CORS on the HTTP API. This also auto-handles the OPTIONS preflight.
  httpApi:
    cors:
      allowedOrigins:
        - https://discogs.603.nz
        - http://localhost:4321
      allowedMethods:
        - OPTIONS
        - POST
        - DELETE
      allowedHeaders:
        - content-type
  environment:
    # Single physical DynamoDB table (created in infrastructure/ via the shared
    # dynamodb-single-table module). Holds ReleaseCheckState rows now and other
    # entities later under distinct key prefixes.
    DYNAMODB_TABLE: ${self:service}-entities
    DISCOGS_USER_TOKEN: ${ssm:/discogs-market-monitor/discogs_user_token, env:DISCOGS_USER_TOKEN, ''}
    RESEND_API_KEY: ${ssm:/discogs-market-monitor/resend_api_key, env:RESEND_API_KEY, ''}
    SENDER_EMAIL: ${ssm:/discogs-market-monitor/sender_email, env:SENDER_EMAIL, ''}
    # The scheduled dispatcher and the signup API both start workflow executions.
    STATE_MACHINE_ARN: arn:aws:states:${aws:region}:${aws:accountId}:stateMachine:${self:service}-market-monitor
    # Sell-page scraper tuning (see src/scraperConfig.ts for validation and
    # bounds; invalid values fall back to these defaults at runtime). Resolved
    # from the deployer's environment so they can be tuned without a code
    # change.
    SCRAPER_REQUEST_TIMEOUT_MS: ${env:SCRAPER_REQUEST_TIMEOUT_MS, '25000'}
    SCRAPER_MAX_ATTEMPTS: ${env:SCRAPER_MAX_ATTEMPTS, '4'}
    SCRAPER_CIRCUIT_FAILURE_THRESHOLD: ${env:SCRAPER_CIRCUIT_FAILURE_THRESHOLD, '3'}
    SCRAPER_CIRCUIT_OPEN_MS: ${env:SCRAPER_CIRCUIT_OPEN_MS, '120000'}
    # Comma-separated profile names (e.g. safari_16_0,firefox_117). Empty means
    # "use the verified defaults in scraperConfig.ts". The default can't be
    # inlined here: Serverless' placeholder parser splits on the comma.
    SCRAPER_PROFILES: ${env:SCRAPER_PROFILES, ''}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:Query
          Resource:
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:service}-entities
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:service}-entities/index/*
        # The scheduled dispatcher fans out one execution per registered monitor.
        - Effect: Allow
          Action:
            - states:StartExecution
          Resource:
            - arn:aws:states:${aws:region}:${aws:accountId}:stateMachine:${self:service}-market-monitor

functions:
  # Self-service signup API: register/update or remove a monitor.
  registerMonitor:
    handler: src/registerMonitor.handler
    memorySize: 256
    timeout: 30
    events:
      - httpApi:
          path: /monitors
          method: post
      - httpApi:
          path: /monitors/{username}
          method: delete

  # Scheduled fan-out: lists registered monitors and starts one workflow
  # execution per user (replaces the old single-user schedule).
  dispatchMonitors:
    handler: src/dispatchMonitors.handler
    memorySize: 256
    timeout: 60
    events:
      - schedule:
          rate:
            - rate(12 hours)
          enabled: true

  # Step Functions workflow Lambdas.
  getWantlist:
    handler: src/getWantlist.handler
    memorySize: 256
    timeout: 300

  checkReleaseMarketplace:
    handler: src/checkReleaseMarketplace.handler
    memorySize: 256
    # Single-release unit of work; targets < 2s but needs headroom for (a) the
    # sell-page scraper's in-process retries (up to 4 attempts x 25s hard
    # timeout + backoff when Cloudflare blocks) and (b) first-ever checks of
    # heavily-listed releases, which fetch every listing at >= 1.1s each. A
    # timeout mid-run is safe: listing writes are idempotent and the seen-ids
    # state is only persisted on success, so the Step Functions retry resumes
    # cleanly.
    timeout: 300

  sendDigest:
    handler: src/sendDigest.handler
    memorySize: 256
    timeout: 60

stepFunctions:
  stateMachines:
    marketMonitor:
      name: ${self:service}-market-monitor
      role:
        Fn::GetAtt: [MarketMonitorStateMachineRole, Arn]
      # Started per-registered-user by the scheduled dispatchMonitors Lambda.
      # Each execution input is { username, shipsFrom, destinationEmail,
      # discogsToken? } for one monitor.
      definition:
        Comment: Incremental, rate-limit-safe Discogs wantlist marketplace monitor.
        StartAt: GetWantlist
        States:
          GetWantlist:
            Type: Task
            Resource:
              Fn::GetAtt: [GetWantlistLambdaFunction, Arn]
            ResultPath: $
            Next: ProcessReleases
          ProcessReleases:
            Type: Map
            ItemsPath: $.items
            # Unit of work is one (userId, releaseId). Low concurrency keeps the
            # shared Discogs IP rate-limit-safe; per-release 429 retry absorbs bursts.
            MaxConcurrency: 2
            # SendDigest reads un-notified listings from DynamoDB rather than
            # Map output. A failed release check should delay that release
            # until a future run, not block the digest for listings discovered
            # by successful release checks. So a release that Cloudflare
            # refuses to serve even after session rotation and Step Functions
            # retries costs one release, not the whole run - while a run where
            # more than 15% of releases fail still fails loudly. (Fixed value:
            # serverless-step-functions compiles this at package time, so it is
            # not runtime-env-configurable.)
            ToleratedFailurePercentage: 15
            ItemProcessor:
              ProcessorConfig:
                Mode: DISTRIBUTED
                ExecutionType: STANDARD
              StartAt: CheckRelease
              States:
                CheckRelease:
                  Type: Task
                  Resource:
                    Fn::GetAtt: [CheckReleaseMarketplaceLambdaFunction, Arn]
                  Retry:
                    # Isolated per-release backoff. The Lambda already retries
                    # Cloudflare blocks in-process with session rotation, so
                    # fewer, longer-spaced attempts here; a retry often lands
                    # on the same warm container, which by then has rotated to
                    # a fresh session.
                    - ErrorEquals: [States.ALL]
                      IntervalSeconds: 10
                      MaxAttempts: 3
                      BackoffRate: 2
                  End: true
            ResultPath: $.results
            Next: SendDigest
          SendDigest:
            Type: Task
            Resource:
              Fn::GetAtt: [SendDigestLambdaFunction, Arn]
            End: true

resources:
  Resources:
    # Custom execution role for the state machine. A Distributed Map runs child
    # executions, so it needs states:StartExecution on itself plus Describe/Stop
    # on its executions, and the EventBridge managed-rule permissions.
    MarketMonitorStateMachineRole:
      Type: AWS::IAM::Role
      Properties:
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service: states.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: ${self:service}-market-monitor-sfn
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action: lambda:InvokeFunction
                  Resource:
                    - Fn::GetAtt: [GetWantlistLambdaFunction, Arn]
                    - Fn::GetAtt: [CheckReleaseMarketplaceLambdaFunction, Arn]
                    - Fn::GetAtt: [SendDigestLambdaFunction, Arn]
                - Effect: Allow
                  Action: states:StartExecution
                  Resource:
                    - arn:aws:states:${aws:region}:${aws:accountId}:stateMachine:${self:service}-market-monitor
                - Effect: Allow
                  Action:
                    - states:DescribeExecution
                    - states:StopExecution
                  Resource:
                    - arn:aws:states:${aws:region}:${aws:accountId}:execution:${self:service}-market-monitor/*
                - Effect: Allow
                  Action:
                    - events:PutTargets
                    - events:PutRule
                    - events:DescribeRule
                  Resource:
                    - arn:aws:events:${aws:region}:${aws:accountId}:rule/StepFunctionsGetEventsForMapStateRule
